.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
logs/
composer.lock
gitpush.sh
bin/
cbuild
*/.DS_Store
main
authz
.vscode
*.txt
*.exe
temp/
ui/
resource/public